$comfort-font: "Comfortaa", cursive;

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgba(245, 222, 179, 0.05);
}

header {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.5em;
    font-family: $comfort-font;
    font-weight: 800;
  }
  #mini-flex-div {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-top: 2vh;
  }
  .ball {
    width: 2em;
    height: 2em;
    border: 1px solid black;
    border-radius: 50%;
  }
  @media (max-width: 600px) {
    margin-top: 0;
    h1 {
      font-size: 2em;
      text-align: center;
      width: 90%;
    }
    #mini-flex-div {
      font-size: 0.75em;
      width: 90%;
      justify-content: space-between;
    }
    .ball {
      // width: 1em;
      // height: 1em;
    }
    p {
      display: none;
    }
  }
  @keyframes flowing {
    0% {
      transform: scale(0) rotate(0deg);
      border-radius: 0%;
      border-width: 1px;
    }
    25% {
      transform: scale(1) rotate(180deg);
      border-radius: 5%;
      border-width: 2px;
    }
    50% {
      //Transformation climax
      transform: scale(2) rotate(360deg);
      border-radius: 50%;
      border-width: 3px;
    }
    75% {
      transform: scale(1) rotate(180deg);
      border-radius: 5%;
      border-width: 2px;
    }
    100% {
      transform: scale(0) rotate(0deg);
      border-radius: 0%;
      border-width: 1px;
    }
  }
  #purple {
    background-color: #8915e8;
    animation: flowing 2s linear 0s infinite;
  }
  #orange {
    background-color: #fac404;
    animation: flowing 4s linear 0s infinite;
  }
  #blue {
    background-color: #3ce815;
    animation: flowing 5s linear 0s infinite;
  }
}

#writer-div {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #writing-area {
    width: 40vw;
    border: 4px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-family: $comfort-font;
    padding: 0.5ch 4ch 0.5ch 1ch;
  }
}
.default-btn {
  height: 2em;
  width: 2em;
  margin-left: -60px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.default-btn:hover,
.default-btn:active {
  color: rgb(26, 74, 219);
}
@media (max-width: 600px) {
  #writer-div {
    margin-top: 5vh;
    width: 100%;
    #writing-area {
      width: 80%;
      font-size: 20px;
    }
  }
  #form {
    width: 100%;
    text-align: center;
  }
  .default-btn {
    // margin-right: 10px;
    font-size: 25px;
  }
}

#bottom-header {
  width: 40vw;

  #output-h1 {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-family: $comfort-font;
    font-size: 2.5em;
    font-weight: 900;
    font-variant: small-caps;
  }

  #splitter {
    height: 0.5ch;
    transform: skewX(-45deg);
    background-color: grey;
    border: none;
  }
}
@media (max-width: 600px) {
  #output-h1 {
    margin: 5vh 5vw !important;
  }
  #bottom-header {
    width: 80vw;
  }
}

#output-section {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-left: 4vw;

  .todo-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 25vw;
    border: 5px solid black;
    padding: 2ch;
    border-radius: 5px;
  }
  .todo-div:nth-child(odd) {
    background-color: #fac404;
    color: darkgreen;
  }

  .text-content {
    align-self: center;
    font-family: $comfort-font;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    width: 90%;
  }

  .delete-btn {
    text-align: center;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding-left: 5px;
    width: 10%;
  }
  .delete-btn:hover {
    color: rgb(250, 91, 91);
  }
  .date-p {
    align-self: flex-end;
    // margin-left: 2vh;

    font-weight: 600;
    font-size: 1.1em;
    grid-column: 1 / span 3;
  }
}

@media (max-width: 600px) {
  #output-section {
    width: 100%;
  }
  .todo-div {
    width: 90vw !important;
  }
}
