* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgba(245, 222, 179, 0.05);
}

header {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-size: 4em;
}

header p {
  font-size: 1.5em;
  font-family: "Comfortaa", cursive;
  font-weight: 800;
}

header #mini-flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3em;
  margin-top: 2vh;
}

header .ball {
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 50%;
}

@-webkit-keyframes flowing {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    border-radius: 0%;
    border-width: 1px;
  }
  25% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
    border-radius: 5%;
    border-width: 2px;
  }
  50% {
    -webkit-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
    border-radius: 50%;
    border-width: 3px;
  }
  75% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
    border-radius: 5%;
    border-width: 2px;
  }
  100% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    border-radius: 0%;
    border-width: 1px;
  }
}

@keyframes flowing {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    border-radius: 0%;
    border-width: 1px;
  }
  25% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
    border-radius: 5%;
    border-width: 2px;
  }
  50% {
    -webkit-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
    border-radius: 50%;
    border-width: 3px;
  }
  75% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
    border-radius: 5%;
    border-width: 2px;
  }
  100% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    border-radius: 0%;
    border-width: 1px;
  }
}

header #purple {
  background-color: #8915e8;
  -webkit-animation: flowing 2s linear 0s infinite;
          animation: flowing 2s linear 0s infinite;
}

header #orange {
  background-color: #fac404;
  -webkit-animation: flowing 4s linear 0s infinite;
          animation: flowing 4s linear 0s infinite;
}

header #blue {
  background-color: #3ce815;
  -webkit-animation: flowing 5s linear 0s infinite;
          animation: flowing 5s linear 0s infinite;
}

#writer-div {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#writer-div #writing-area {
  width: 40vw;
  border: 4px solid black;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  padding: 0.5ch 4ch 0.5ch 1ch;
}

.default-btn {
  height: 2em;
  width: 2em;
  margin-left: -60px;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.default-btn:hover,
.default-btn:active {
  color: #1a4adb;
}

#bottom-header {
  width: 40vw;
}

#bottom-header #output-h1 {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-bottom: 5vh;
  font-family: "Comfortaa", cursive;
  font-size: 2.5em;
  font-weight: 900;
  font-variant: small-caps;
}

#bottom-header #splitter {
  height: 0.5ch;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  background-color: grey;
  border: none;
}

#output-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  margin-left: 4vw;
}

#output-section .todo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25vw;
  border: 5px solid black;
  padding: 2ch;
  border-radius: 5px;
}

#output-section .todo-div:nth-child(odd) {
  background-color: #fac404;
  color: darkgreen;
}

#output-section .text-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  width: 90%;
}

#output-section .delete-btn {
  text-align: center;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding-left: 5px;
}

#output-section .delete-btn:hover {
  color: #fa5b5b;
}

#output-section .date-p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 600;
  font-size: 1.1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}
/*# sourceMappingURL=sassy.css.map */